@font-face {
 font-family: "Mukta";
 src: url(./Mukta.ttf);
}

* {
 margin: 0;
 padding: 0;
 user-select: none;
 box-sizing: border-box;
 font-family: 'Mukta', sans-serif;
}

html, body {
 --tcol: #0075ff;
 color: white;
 height: 100%;
 display: inline-block;
 background-image: linear-gradient(to bottom right, var(--tcol), #f01e8d);
 background-size: cover;
}

.clearfix::after {
 content: '';
 display: block;
 clear: both;
}

.container {
 position: absolute;
 top: 50%; left: 50%;
 transform: translate(-50%, -50%);

 width: 325px;
 height: 98%;
 border-radius: 5px;
 background-color: rgba(255, 255, 255, 0.3);
 backdrop-filter: blur(10px);
}

.container h1 {
 font-size: 25px; 
 font-weight: normal;
}

.container h1 small {
 font-size: 18px; 
 font-weight: normal;
}

.container button {
 color: white;
 padding: 8px;
 cursor: pointer;
 font-size: 20px;
 border-radius: 10px;
 border: 2px solid var(--tcol);
 background-color: var(--tcol);
 box-shadow: 1px 1px 10px var(--tcol);
}

.container button:active {
 color: var(--tcol);
 background-color: white;
}

.container #wrapper {
 width: 100%;
 height: 250px;
 border-radius: 5px;
 background-color: #bbb;
 background-size: 100% 100%;
}

.container 
#wrapper #listbtn {
 position: absolute;
 top: 2px;
 right: 2px;
}

.container #loopbtn.active {
 color: var(--tcol);
 background-color: white;
}

.container 
#loopbtn.active:active {
 color: white;
 background-color: var(--tcol);
}

.container #etimerange { width: 100%; }

.container 
#timers {
 padding: 8px;
 text-align: left;
}

.container 
#timers #eltime { float: left; }
.container 
#timers #ttime { float: right; }
.container h1 { padding: 5px; }

.container #controls1,
.container #controls2
 {
  padding: 5px;
  text-align: center;
}

.container
 [id*="controls"] button
  {
 	margin-right: 5%;
  }

.container #closelist {
 position: absolute;
 top: 2px;
 right: 2px;
}

.container#mslist { display: none; }
.container ul { list-style: none; }
.container ul li {
 padding: 8px;
 cursor: pointer;
 box-shadow: 1px 1px 10px grey;
}

.container 
ul li img {
 float: left;
 width: 50px;
 height: 50px;
 margin-right: 10px;
}

.container ul li 
content h1 {
 font-size: 18px;
 font-weight: normal;
}

.container ul li 
content small {
 font-size: 14px;
 font-weight: normal;
}

.container [id*="shufflebtn"] { display: none; }
.container [id*="shufflebtn"].visible { display: inline; }

.container #volumearea #volrange {
 margin-top: 10px;
 visibility: hidden;
}

.container 
#volumearea:hover #volrange { visibility: visible; }

@media screen and (max-width: 559px) {
 .container {
  width: 95%;
  height: 95%;
 }
 .container #wrapper {
  width: 80%;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
 }
}